<!doctype html>
<html>
    <head>
        {% block title %}
            <title>Index</title>
        {% endblock %}
    </head>

    <body>
            <!-- PAGE CONTENTS -->
            <div id="title">
                <h1>Choose Your Content:</h1>
            </div>

            <div id="content">
                <ul>
                    <h2><a href="/bills">Active US Congressional Legislation</a></h2>
                    <h2><a href="/lobbying">Recent Lobbying Representations</a></h2>
                </ul>
            </div>

            <!-- FOOTER -->
            <div id="footer">
                <hr>
                &copy; Copyright 2020 A. Z. Robinson |
                <a href="https://github.com/austiezr">source</a>
            </div>

    </body>
</html>
